{% extends "managers/base.html" %}
{% load static %}

{% block title %}Deny Request | Murang'a Transport{% endblock %}

{% block content %}
<div class="main-content">
  <div class="page-header">
    <h1 class="page-title">Deny Registration Request #{{ request_id }}</h1>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'managers:applications' %}" class="btn btn-outline">Cancel</a>
  </form>
</div>
{% endblock %}
